# Python
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/

# Data artifacts
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Outputs
outputs/figures/*
!outputs/figures/.gitkeep
outputs/models/*
!outputs/models/.gitkeep
outputs/metrics/*
!outputs/metrics/.gitkeep
outputs/logs/*
!outputs/logs/.gitkeep

# Reports
reports/bao_cao_tieng_viet/images/*
!reports/bao_cao_tieng_viet/images/.gitkeep
